.colors-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.palette-title {
  background: darkslategray;
  color: white;
  padding: 10px;
}

.palette-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 620px) {
  [class*="palette-details"] {
    flex-direction: column;
  }
}
